<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%-pagename%></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="style.css" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <%-include('includes/nav')%>

        <!-- Contact Section-->
        <section class="page-section contact" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Register for my Newsletter</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Register Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form method="POST" id="contactForm">
                            <% if(typeof(error) != "undefined") { %> <span style="color: red; font-weight: bold; padding-bottom: 2rem;"> <%=error.status %> </span> 
                            <% } %>
                            <!-- ************* Name input ************* -->
                            <div style="display: flex; flex-direction: column;">
                                <label for="firstName">First name</label>
                                <input id="firstName" name="firstName" type="text" placeholder="Enter your first name..."  />
                                <% if(typeof(error) != "undefined") { %> <span style="color: red;"> <%= error.firstNameMsg %> </span> <% } %>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <label for="lastName">Last name</label>
                                <input id="lastName" name="lastName" type="text" placeholder="Enter your last name..."  />
                                <% if(typeof(error) != "undefined") { %> <span style="color: red;"> <%= error.lastNameMsg %> </span> <% } %>
                            </div>
                        
                            <!-- ************* Address Input ************* -->
                            <div style="display: flex; flex-direction: column;">
                                <label for="street">Street Address</label>
                                <input id="street" name="street" type="text" placeholder="Enter your street address..."  />
                                <% if(typeof(error) != "undefined") { %> <span style="color: red;"> <%= error.streetMsg %> </span> <% } %>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <label for="city">City</label>
                                <input id="city" name="city" type="text" placeholder="Enter your city..."  />
                                <% if(typeof(error) != "undefined") { %> <span style="color: red;"> <%= error.cityMsg %> </span> <% } %>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <label for="state">State</label>
                                <input id="state" name="state" type="text" placeholder="Enter your state..."  />
                                <% if(typeof(error) != "undefined") { %> <span style="color: red;"> <%= error.stateMsg %> </span> <% } %>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <label for="zip">Zip Code</label>
                                <input id="zip" name="zip" type="text" placeholder="Enter your zip code..."  />
                                <% if(typeof(error) != "undefined") { %> <span style="color: red;"> <%= error.zipMsg %> </span> <% } %>
                            </div>
                        

                            <!-- ************* Age Input ************* -->
                            <div>
                                <label for="age">Age</label>
                                <select name="age" id="age" placeholder="Select"  >
                                    <option value="1-20">1 - 20</option>
                                    <option value="20-30">20 - 30</option>
                                    <option value="30-40">30 - 40</option>
                                    <option value="40-50">40 - 50</option>
                                    <option value="50+">50+</option>
                                </select>
                            </div>
                        
                            <!-- ************* Gender Input ************* -->
                            <div>
                                <input type="radio" id="hehim" name="pronouns" value="He/Him" checked>
                                <label for="hehim">He/Him</label>
                                <input type="radio" id="sheher" name="pronouns" value="She/Her">
                                <label for="sheher">She/Her</label>
                                <input type="radio" id="theythem" name="pronouns" value="They/Them">
                                <label for="theythem">They/Them</label>
                            </div>
                        
                            <!-- ************* Consent ************* -->
                            <div>
                                <input type="checkbox" id="consent" name="consent" value="consent" checked >
                                <label for="vehicle1">Consent</label><br>
                            </div>
                        
                            <!-- ************* Message input ************* -->
                            <div>
                                <label for="bio">About you...</label>
                                <textarea id="bio" name="bio" type="text" placeholder="Enter your bio here..." ></textarea>
                            </div>
                        
                            <!-- ************* Submit Button ************* -->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <%- include('includes/footer') %>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
